body{
	align-content: center;
}

#container{
	text-align: center;
	background-color: #b19cd9;
	padding-top: 10px;
	height: 800px;
	border:solid  5px;
	border-radius: 10px;	
	border-color: rgba(	253, 253, 150, .9);
	font-family: Arkitech;
	}
	@font-face { font-family: Arkitech; src: url('Arkitech.TTF'); }
#word-container{

}
#guesses-container{

}
#letters-container{
	font-size: 40px;
	text-align: center;
}
#win{
	height: 400px;
}